<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Movie Database</title>
  <link rel="stylesheet" href="info.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bungee+Spice">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bebas+Neue">
  <script>
    function saveReview() {
      try {
        console.log('Save Review button clicked');
        // Rest of the code...
      } catch (error) {
        console.error('Error in saveReview function:', error);
      }
    }
  </script>
</head>
<body>

  <div class="container">
    <h1 class="movie-title"><%= movie.title %></h1>

    <div class="movie-details-container">
      <!-- Movie Poster and Info -->
      <div class="movie-details">
        <div class="poster">
          <img src="<%= movie.poster %>" alt="<%= movie.title %> Poster" class="poster-img">
        </div>
        <div class="details">
          <p>Year: <%= movie.year %></p>
          <p>Director: <%= movie.director %></p>
          <p>Box Office: <%= movie.boxOffice %></p>
        </div>
      </div>
    </div>
  </div>
  <a href="/"><button class='home'>Search For Another Movie</button></a>
</body>

</html>

