<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Movie Database</title>
  <link rel="stylesheet" href="results.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bungee+Spice">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bebas+Neue">
  <script>
    function saveReview() {
      try {
        console.log('Save Review button clicked');
        // Rest of the code...
      } catch (error) {
        console.error('Error in saveReview function:', error);
      }
    }
  </script>
</head>

<body>

  <div class="container">
    <h1 class="movie-title"><%= movie.Title %></h1>

    <div class="movie-details-container">
      <!-- Movie Poster and Info -->
      <div class="movie-details">
        <div class="poster">
          <img src="<%= movie.Poster %>" alt="<%= movie.Title %> Poster" class="poster-img">
        </div>
        <div class="details">
          <p>Year: <%= movie.Year %></p>
          <p>Plot: <%= movie.Plot %></p>
          <p>Director: <%= movie.Director %></p>
          <p>Genre: <%= movie.Genre %></p>
          <p>Box Office: <%= movie.BoxOffice %></p>
          <p>IMDb Rating: <%= movie.imdbRating %></p>
          <form action="/save" method="POST">
            <!-- Include input fields for required data -->
            <input type="text" name="title" value="<%= movie.Title %>" hidden>
            <input type="text" name="year" value="<%= movie.Year %>" hidden>
            <input type="text" name="poster" value="<%= movie.Poster %>" hidden>
            <input type="text" name="director" value="<%= movie.Director %>" hidden>
            <input type="text" name="boxOffice" value="<%= movie.BoxOffice %>" hidden>

            <!-- Include any other hidden input fields if needed -->

            <!-- Save button -->
            <button type="submit" class='home'>Save</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <a href="/"><button class='home'>Search For Another Movie</button></a>
</body>

</html>

